body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(178, 227, 255);
}

#heading
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(124, 255, 255);
    background-color: lightskyblue;
}

.main_div button{
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 5px 5px 5px greenyellow;
    box-shadow: 5px 5px 5px rgb(255, 0, 255);
}

.copy_right_footer
{
    position: fixed;
    color: rgb(4, 0, 255);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: darkturquoise;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(231, 116, 116);
}